div.arribaDerr {
    position: absolute;
    left: 900px;
    top: 10px;
    padding: 5px;
}

div.central {position: absolute;
	     left: 120px;
	     top: 20px;
	     width: 620px;
	     padding-left: 15px;
}

div.izquierda { 
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100px;
    padding: 5px;
    padding-right: 20px;
}

div.derecha {
    position: absolute;
    left: 800px;
    top: 65px;
    padding: 5px;
}

input.datos {
    position: absolute;
    left:200px;
    size:60;
    width: 300px;
}


