body {
	color: #87868a;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.2;
}

a { color: #406f96; text-decoration: none; }
a:hover { color: #db9600; }
p { margin-bottom: 15px; }

h1 { color: #406f96; font-size: 22px; margin-bottom: 15px; }
h3 { color: #406f96; font-size: 16px; margin-bottom: 5px; }

h1 span {
	display: block;
	font-size: 16px;
}


/*** header ***/

.header {
	/*margin: 35px 0 15px;*/
        margin: 35px 0 0;
	overflow: hidden;
}

.header .superior {
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 15px;
	text-align: right;
}

.header .superior a {
	color: #87868a !important;
}

.header .superior a:hover {
	color: #db9600 !important;
}

.header .olvidado {
	font-size: 13px;
	margin-bottom: 10px;
	text-align: right;
}

.header #login {
	float: right;
	margin-left: 40px;
}

.notificacion {
    height:15px;
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px;

}

.mensajeError{
    color: #FF4500;
}

.mensajeInfo{
    color: #00DA00;
}


.header input {
	border: 1px solid #aaa;
	padding: 2px;
	width: 125px;
}

.header #login-boton {
	cursor: pointer;
	width: 42px;
}

.header #logout-boton {
	cursor: pointer;
	width: 42px;
}

.header #logo {
	background: url('../img/logoNegociosTransparencia.png') no-repeat top left transparent;
	float: left;
	height: 52px;
	text-indent: -9999px;
	width: 256px;
}

.header #logoTxt {
    position: absolute;
    left: 40px;
    font-size: 20px;
    color: #406F96;
}


/*** menu ***/

.menu {
	background: url('../img/menu.png') no-repeat top left transparent;
	margin-bottom: 15px;
}

.menu ul {
}

.menu li {
	float: left;
	font-weight: bold;
	line-height: 40px;
	margin: 0 15px;
	text-transform: uppercase;
}

.menu a { color: #fff; }
.menu a:hover { color: #db9600; }




/*** formularios ***/

form, input, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}




/*** buscador ***/

.buscador {
	background: url('../img/bg-buscador.png') no-repeat top left #dae3ea /*url('../img/buscador.png') no-repeat top left transparent*/;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 15px;
}

.buscador #buscador-termino {
	background-color: #fff;
	border:none;
	color: #666;
	font-size: 18px;
	padding: 7px 10px;
	width: 500px;
}

.buscador #buscador-termino:focus {
	border-color: #999;
	-khtml-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.buscador #buscador-boton {
	background: url('../img/btn-buscar.png') no-repeat top right transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 17px;
	font-weight: bold;
	height: 39px;
	width: 116px;
}

.buscador #buscador-boton:hover {
	background-position: 0 -39px;
}




/*** categorias ***/

.categorias a {
	background-color: #f6f6f6;
	color: #406f96;
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 10px;
	text-decoration: none;
}

.categorias a:hover {
	background-color: #f0f0f0;
	color: #db9600;
}




/*** parte derecha ***/

#mapa {
	margin-bottom: 20px;
	height: 400px;

}


#cargando{
    /*height: 400px;
      top: -420px;
    */
    background: gray url('../img/loading.gif') no-repeat center;
    opacity:0.5;
    filter:alpha(opacity=50); /*IE 8 y anteriores*/
    position: absolute;
    display: none;
    z-index:100;
}


/*** info-map ***/
.info-map {
    /*width: 100px;*/
    min-height: 70px;
    
    padding: 0 10px 0 0;
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 13px;
	
}

.info-map .title {
    font-size: 123%;
    font-weight: bold;
    margin-bottom: 0;
}

/*** info-negocio ***/

.info-negocio {
	background-color: #fcf4ea;
	margin-bottom: 20px;
	padding: 20px;
}

.info-negocio a {
	color: #87868a;
	font-weight: bold;
}

.info-negocio a:hover
{
	color: #db9600;
}

.enviar-sugerencia {
	color: #db9600 !important;
	font-size: 13px;
	float: right;
}

.direccion {
	font-size: 13px;
	margin-bottom: 25px;
}

.descripcion {
	margin-bottom: 25px;
}

.contacto li {
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin-right: 20px;
}

.contacto li span {
	background: url('../img/iconos.png') no-repeat top left transparent;
	float: left;
	height: 20px;
	margin-right: 5px;
	width: 20px;
}

.contacto li span.telf { background-position: -20px 0; }
.contacto li span.email { background-position: -40px 0; }




/*** formulario de sugerencias ***/

label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-sugerencia, .form-registro {
	background-color: #f0f0f0;
	margin-bottom: 20px;
	padding: 20px;
}

.inner-padding {
	margin-bottom: 20px;
	padding: 20px;
}

.form-ventajas {
	background-color: #FCF4EA;
}

.form-ventajas ul.ventajas {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.form-ventajas ul.ventajas li {
	background-image: url(../img/tick.png);
	background-repeat: no-repeat;
	background-position: 0.4em left;
	padding-left: 3em;
	margin-bottom: 1em;
	line-height: 1.9em;
}

.form-registro small {
	font-size: 70%;
	display: block;
	margin-top: 20px;
	text-align: right;
}

.form-registro form {
	padding-bottom: 50px;
}

.form-registro #enviar {
	background: url('../img/btn-buscar.png') no-repeat top right transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 17px;
	font-weight: bold;
	height: 39px;
	width: 116px;
}

.form-registro #enviar:hover {
	background-position: 0 -39px;
}

.form-registro #localizar {
	background: url('../img/btn-localizar.png') no-repeat top right transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding-top: 3px;
	margin-left: 187px;
	width: 70px;
}

.form-registro #localizar:hover {
	background-position: 0 -20px;
}

.form-registro label {
	display: inline;
	width: 100px;
	float: left;
}

.form-registro input, .form-registro select {
	margin-bottom: 10px;
	width: 220px;

}

/*.form-registro select {
	width: 154px;
	border: 2px inset;
}*/

.form-sugerencia input, .form-sugerencia textarea, .form-registro input, .form-registro select{
	border: 1px solid #ccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 5px;
}

.form-sugerencia #email {
	width: 300px;
}

.form-sugerencia .enviar {
	background: url('../img/btn-enviar.png') no-repeat top left transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 20px;
	font-weight: bold;
	height: 46px;
	width: 160px;
}

.form-sugerencia .enviar:active {
	background-position: 0 -46px;
}

textarea {
	height: 140px;
	margin-bottom: 20px;
	resize: none;
	width: 98%;
}




/*** presentacion ***/

.presentacion {
	background: url('../img/presentacion.png') no-repeat center center #f0f0f0;
	height: 600px;
	position: relative;
}


/*** servicios ***/
.servicios {
    /*background: url('../img/servicios.png') no-repeat center center;
    height:805px;*/
    position: relative;
    padding-left:50px;
}

.oferta{
    margin-bottom: 15px;
}

.oferta > p{
    margin-bottom: 5px;
}

.oferta-nombre{
    color: #406F96;
    font-size:20px;
}

.oferta-precio{
    color: #F97510;
    font-size: 15px;
    display: inline;
}

.oferta-aclaracion{
    font-size: 85%;
    display: inline;
    margin-left:10px;
}

.registrate, .comunicate, .aprovecha, .comparte, .explora {
	position: absolute;
	width: 300px;
}

.registrate {
	top: 25px;
	right: 150px;
}

.comunicate {
	top: 225px;
	right: 15px;
}

.aprovecha {
	bottom: 25px;
	right: 50px;
}

.comparte {
	left: 100px;
	bottom: 50px;
}

.explora {
	top: 200px;
	left: 50px;
}


.registrate strong, .comunicate strong, .aprovecha strong, .comparte strong, .explora strong {
	color: #406f96;
	font-size: 30px;
}




/*** footer ***/

.footer {
	border-top: 1px solid #b0b0b0;
	font-size: 13px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 10px;
}




/*** otros ***/

.info-negocio, .descripcion { overflow: hidden; }
.derecha { float: right; }
.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.info{
    margin-bottom: 20px;
}


.oferta-imagenes{
    height: 350px;
    position: absolute;
    top: 60px;
    left: 560px;
    width: 350px;
}

.img1{
    background: url('../img/img1.png') no-repeat top center;
}

.img2{
    background: url('../img/img2.png') no-repeat top center;
}

.img3{
    background: url('../img/img3.png') no-repeat top center;
}