{% extends "base.html" %}

{% block javascript %}

{% endblock %}

{% block cuerpo %}
		
		<div class="grid_12">
			<h1>CONDICIONES GENERALES DE USO DEL SITIO WEB </h1>
			<p></p>
			
			<div class="servicios">
			  <ul>
			    <li>
			      <div class="oferta">
				Antonio Illescas Chaves (EN ADELANTE EL PROPIETARIO) pone a disposición en su sitio web  {{ siteName }} determinados  contenidos de carácter informativo sobre sus actividades.Las presentes condiciones generales rigen única y exclusivamente el uso del sitio web de EL PROPIETARIO por parte de los USUARIOS que accedan al mismo. Las presentes condiciones generales se le exponen al USUARIO en el sitio web {{ siteName }}  en todas y cada una de las páginas, para que las lea, las imprima, archive y acepte a través de internet y se encuentre plenamente informado.
				  
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				El acceso al sitio web de EL PROPIETARIO implica sin reservas la aceptación de las presentes condiciones generales de uso que el USUARIO afirma comprender en su totalidad. El USUARIO se compromete no a utilizar el sitio web y los servicios que se ofrecen en el mismo para la realización de actividades contrarias a la ley y a respetar en todo momento las presentes condiciones generales.
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">PRIMERA.- CONDICIONES DE ACCESO Y USO:</p>
				<p>1.1.- La utilización del sitio web de EL PROPIETARIO, no conlleva la obligatoriedad de inscripción del USUARIO. Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el principio de buena fe comprometiéndose el USUARIO a realizar un buen uso de la web.  Quedan prohibidos todos los actos que vulneren la legalidad, derechos o intereses de terceros: derecho a la intimidad, protección de datos, propiedad intelectual etc.<br/> 
Expresamente EL PROPIETARIO prohíbe los siguientes:
				  <br/>   <br/>   
				  1.1.1.- Realizar acciones que puedan producir en el sitio web o a través del mismo por cualquier medio cualquier tipo de daño a los sistemas de EL PROPIETARIO  o a terceros.
				  <br/>   <br/>   
				  1.1.2.- Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma encubierta, el envío de correos masivos ("spaming") o envío de grandes mensajes con el fin de bloquear servidores de la red ("mail bombing").
				  <br/>   <br/>   
				  1.2.- EL PROPIETARIO, podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un uso contrario a la legalidad, la buena fe o a las presentes condiciones generales- ver cláusula quinta.</p>
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">SEGUNDA.- CONTENIDOS:</p>
				<p>Los contenidos incorporados en este sitio web han sido elaborados e incluidos por:
				  <br/>   <br/>   
				  2.1.- EL PROPIETARIO utilizando fuentes internas y externas de tal modo que EL PROPIETARIO únicamente se hace responsable por los contenidos elaborados de forma interna.
				  <br/>   <br/>   
				  2.2.- EL PROPIETARIO se reserva el derecho a modificar en cualquier momento los contenidos existentes en su sitio web. EL PROPIETARIO no asegura ni se responsabiliza del correcto funcionamiento de los enlaces a sitios web de terceros que figuren en {{ siteName }}. Además a través del sitio web del PROPIETARIO se ponen a disposición del usuario servicios gratuítos y de pago ofrecidos por terceros ajenos y que se regirán por las condiciones particulares de cada uno de éllos. EL PROPIETARIO no garantiza la veracidad, exactitud o actualidad de los contenidos y servicios ofrecidos por terceros y queda expresamente exento de todo tipo de responsabilidad por los daños y perjuicios que puedan derivarse de la falta de exactitud de estos contenidos y servicios.</p>

			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">TERCERA.- RESPONSABILIDAD:</p>
				<p>3.1.- EL PROPIETARIO en ningún caso será responsable de: 
				  <br/>   <br/>   
				  3.1.1.- Los fallos e incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones incompletas de manera que no se garantiza que los servicios del sitio web estén constantemente operativos.
				  <br/>   <br/>   
				  3.1.2.- De la producción de cualquier tipo de daño que los USUARIOS o terceros pudiesen ocasionar en el sitio web. 
				  <br/>   <br/>   
				  3.1.3.- De la fiabilidad y veracidad de las informaciones introducidas por terceros en el sitio web, bien directamente, bien a través de enlaces o links. Asimismo, Antonio Illescas Chaves colaborará y notificará a la autoridad competente estas incidencias en el momento en que tenga conocimiento fehaciente de que los daños ocasionados constituyan cualquier tipo de actividad ilícita.
				  <br/>   <br/>   
				  3.2.- EL PROPIETARIO se reserva el derecho a suspender el acceso sin previo aviso de forma discrecional y con carácter definitivo o temporal hasta el aseguramiento de la efectiva responsabilidad de los daños que pudieran producirse. Asimismo, EL PROPIETARIO colaborará y notificará a la autoridad competente estas incidencias en el momento en que tenga conocimiento fehaciente de que los daños ocasionados constituyan cualquier tipo de actividad ilícita.</p>
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">CUARTA.- JURISDICCIÓN Y LEY APLICABLE:</p>
				<p>Las presentes condiciones generales se rigen por la legislación española. Son competentes para resolver toda controversia o conflicto que se  derive de las presentes condiciones generales los Juzgados de Cádiz renunciando expresamente el USUARIO a cualquier otro fuero que pudiera corresponderle.</p>

			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">CUARTA.- JURISDICCIÓN Y LEY APLICABLE:</p>
				<p>En caso de que cualquier cláusula del presente documento sea declarada nula, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma de las presentes condiciones. EL PROPIETARIO podrá no ejercitar alguno de los derechos y facultades conferidos en este documento lo que no implicará en ningún caso la renuncia a los mismos salvo reconocimiento expreso por parte de EL PROPIETARIO.</p>

			      </div>
			    </li>


			  </ul>


			</div>
		</div>
		<!-- Fin cuerpo web -->
{% endblock %}
		
