<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="es" />
	<title>{{ title }}</title>
	
	<!-- SEO -->
	<meta name="title" content="{{ title }}" />
	<meta name="description" content="Directorio de negocios de {{ placename }}" />
	<meta name="google-site-verification" content="{{verificacionGoogle}}" />
	<meta name="geo.country" content="{{ country }}" />
	<meta name="geo.region" content="{{ region }}" />
	<meta name="geo.placename" content="{{ placename }}" />
	<meta name="geo.position" content="{{ latitud }};{{ longitud }}" />
	<meta name="ICBM" content="{{ latitud }}, {{ longitud }}" />
	
	<link href="img/favicon.ico" type="image/x-icon" rel="icon" />
	<link href="img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<link href="img/favicon.ico" rel="SHORTCUT ICON">	
	<!-- Hojas de estilo -->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/grid.css" />
	<link rel="stylesheet" type="text/css" href="css/master.css" />
	
	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/public.js"></script>
	
	
	{% block javascript %}
	<script type="text/javascript">
	function initialize(){
	}
	function GUnload(){
	}
	</script>
	{% endblock %}
</head>
{% if GoogleAnalytics %}
<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26403792-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
<body onload="initialize()" onunload="GUnload()">
	
	<div class="container_12">
	
		<!-- BEGIN header -->
		<div class="header">
			<div class="grid_3">
				<p  id="logoTxt">{{ siteName }}
				<h1 id="logo">Negocios en {{ placename }}</h1>

			</div>
			<div class="superior grid_9">
			  {% if htmlForm %}
			  {{ htmlForm|safe }}
			  {% endif %}
			</div>
		</div>
		<!-- END header -->
		

			<div class="notificacion">
			  {{ notificacion }}
			</div>
		
		
		<!-- BEGIN menu -->
		<div class="menu grid_12">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/principal">Consulta</a></li>
				<li><a href="/registro">Registro de usuarios</a></li>
				<li><a href="/negocios">Registro de negocios</a></li>
				<li><a href="/servicios">Servicios Web</a></li>
			</ul>
		</div>
		<!-- END menu -->
		
		{% block cuerpo %}
		

		{% endblock %}
		
		<div class="footer grid_12">
			Copyright {{ siteName }} Todos los derechos reservados.
			<span class="derecha">
				<a href="/legal">Aviso legal</a> | <a href="#">Terminos y condiciones</a> | <a href="/contacto">Contacta</a>
			</span>
		</div>
		
	</div>

</body>
</html>
