
{% extends "base.html" %}

{% block cuerpo %}
		
		<div class="grid_12">
			<h1>Contacta con nosotros</h1>
			<div class="info">
			  <p>Para cualquier consulta o información adicional puedes ponerte en contacto con nosotros en el correo electrónico: </p><a href="mailto:{{ mailer }}">{{ mailer }}</a>
			</div>
			<div class="info">
			  <p>Para informarnos de algún fallo o error en la página envie un correo a: </p><a href="mailto:{{ adminMail }}">{{ adminMail }}</a>
			</div>

		</div>
		<!-- Fin cuerpo web -->
{% endblock %}
		
