{% extends "base.html" %}

{% block javascript %}
	<script type="text/javascript" src="js/localizacion.js"></script>
	<!--script src="http://maps.google.com/maps?file=api&amp;v=3&amp;key={{ key }}&sensor=false" type="text/javascript"></script-->
	<script src="http://maps.google.com/maps/api/js?v=3.8&key={{ key }}&sensor=false" type="text/javascript"></script>


	<script type="text/javascript">

	  
	  $(function() {$('div.categorias a').click(function(){mostrarCategorias($(this).attr('name'))})})
	  $(function() {$('#pruebaButton').click(function(){$.getJSON('ajax', {}, mostrarNegocios)})});
	  $(function() {$('#localizaButton').click(function(){$.getJSON('ajax', {}, localizarNegocios)})});
	  $(document).ready(function() {$('form#buscador').submit(function(e){
	    e.preventDefault();
            var address = $("#buscador-termino").val();
	    address = address + "{{ localidadBusqueda }}"
	    if (geocoder) {
              geocoder.geocode({address:address}
                                 ,
                                 function(resultado, status) {
                                   if (status != google.maps.GeocoderStatus.OK) {
                                     alert(address + ": dirección no encontrada");
                                   } 
                                   else {
	                             // Ampliamos el zoom para localizar mejor la zona
	                             var zoomLevel = 18;
	                             var point = resultado[0].geometry.location;
                                     mapa.setMapTypeId(google.maps.MapTypeId.HYBRID);
                                     mapa.panTo(point);
	                             mapa.setZoom(zoomLevel);
                                   }
                                 }   
                                );
	    }

            })
          });

	  if( !window.XMLHttpRequest ) XMLHttpRequest = function()
	  {
       	     try{ return new ActiveXObject("Msxml2.XMLHTTP.6.0") }catch(e){}
	     try{ return new ActiveXObject("Msxml2.XMLHTTP.3.0") }catch(e){}
	     try{ return new ActiveXObject("Msxml2.XMLHTTP") }catch(e){}
	     try{ return new ActiveXObject("Microsoft.XMLHTTP") }catch(e){}
	     throw new Error("Could not find an XMLHttpRequest alternative.")
	  };



	  function initialize() {
	      inicializarMapaBusqueda({{ latitudCentral }}, {{ longitudCentral }},"mapa");
	  }
	  
	  function GUnload() {
	  }
	  
	</script>

{% endblock %}

{% block cuerpo %}		
		<!-- BEGIN cuerpo -->
		<div class="cuerpo">
		
		
			<!-- BEGIN categorias -->
			<div id="div_categorias" class="categorias grid_3">
			  <ul>
			    {% for categoria in categorias %}
			    <li> <a name="{{ categoria }}" href="#div_categorias" title="">{{ categoria }}</a></li>
			    {% endfor %}

			  </ul>
			</div>
			<!-- END categorias -->
			
			
			<!-- BEGIN contenido -->
			<div class="grid_9">
			
				<!-- BEGIN buscador -->
				<div class="buscador">
					<form id="buscador" action="" method="post">
						<fieldset>
							<label for="buscador-termino">Busca tu calle</label>
							<input type="text" id="buscador-termino" name="buscador-termino" value="Introduce los términos de tu búsqueda" onfocus="if(this.value=='Introduce los términos de tu búsqueda')this.value='';" onblur="if(this.value=='')this.value='Introduce los términos de tu búsqueda';" />
							<input type="submit" id="buscador-boton" name="buscador-boton" value="Buscar" />
						</fieldset>
					</form>
				</div>
				<!-- END buscador -->
			
				<div id="mapa" alt="Mapa" ></div>
				<div id="cargando"></div>
				<!-- BEGIN form-sugerencia -->			
				<div class="form-sugerencia" style="display: none">
					<form id="sugerencia" action="" method="post">
						<fieldset>
							<label for="consulta">Introduce la consulta o queja sobre el negocio seleccionado</label>
							<textarea id="consulta" name="consulta" rows="100" cols="20"></textarea>
							<label for="email">Email de contacto:</label>
							<input type="text" id="email" name="email" />
							<input type="submit" name="enviar" class="enviar" value="Enviar" />
						</fieldset>
					</form>
				</div>
				<!-- END form-sugerencia -->
			
			
				<!-- BEGIN info-negocio -->
				<div class="info-negocio" style="display: none">
				
				
				  <h1 id="info-negocios-cabecera"><a href="#" class="enviar-sugerencia">Enviar sugerencia</a></h1>
				  <p id="info-negocios-direccion" class="direccion"></p>
				  
				  <div class="descripcion">
				    <div class="grid_2 alpha">
				      <img id="info-negocios-logo" src="img/noimagen.png" title="Pinturas Galindo" alt="Pinturas Galindo" />
				    </div>
				    <div class="derecha grid_6">
				      <p id="info-negocios-descripcion">Industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
				    </div>
				  </div>
				  <div class="contacto">
				    <ul>
				      <li><span class="web"></span> <a id="info-negocios-web" href="http://www.pinturasgalindo.com" rel="external nofollow" title="Ir al sitio web de Pinturas Galindo">http://www.pinturasgalindo.com</a></li>
				      <li><span class="telf"></span><a id="info-negocios-tlf"> 964 245 246</a></li>
				      <li><span class="email"></span> <a id="info-negocios-mail" href="mailto:pinturasgalindo@gmail.com" title="Contacta con Pinturas Galindo">pinturasgalindo@gmail.com</a></li>
				    </ul>
				  </div>
				</div>
				<!-- Fin info-negocio -->
			</div>
			<div class="clear"></div>
		<!-- Fin cuerpo web -->
{% endblock %}		
