
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	  <title>Administración de nuevos dominios</title>
    <style type="text/css" media="all">
      @import "stylesheets/css/main.css";
      
      
      div.bloque {
        width:200px;
      }

      label { 
        float : left;
      }
      .adminDatos input.entrada {
        border: 1px solid #CCCCCC;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 13px;
        padding: 5px;
        width:190px;
      }

      div.notificacion{
        position: fixed;
        width: 120px;
        top: 15px;
        right: 5px;
        color: #333;
        background: #F3F3F3;
        padding: 10px;
        border: 1px solid white;
      }
    </style> 

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
    <script type="text/javascript" src="js/localizacion.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#nuevaMiscelanea").click(function(){
          alert($('#miscelaneas')[0].children.length);
          valor = $('#miscelaneas')[0].children.length + 1;
          $('#miscelaneas').append('<div>Miscelanea' + valor + ': <input id="miscelanea" type="text" name="miscelanea' + valor + '" value=""/></div>');
          $('#numValoresMisc')[0].value = valor;
          alert($('#numValoresMisc')[0].value);
        })

       $(".eliminar").click(function(){
         datos = new Array();
         datos[0] = new Object();
         datos[0].entidad = $(this).attr("name");
         datos[0].cuenta  = "Calculando";

         borradoAjax(datos);
      })
      
      $(".borrarCache").click(function(){
        parametros = new Object();
        parametros.url = "admin/borrarCache";
        parametros.type = "POST";
        parametros.dataType = "json";
        parametros.success = notificacion;
        $.ajax(parametros);
      })

      $(".guardarEntidad").click(function(){
        entidad = $(this).attr("name");
        elementos = $(".bloque input.entrada");
        elementosEntidad = new Array();

        elementos.each(function(){ 
          if($(this).attr("name").indexOf(entidad) == 0 && $(this).val() != "") 
            elementosEntidad[elementosEntidad.length] = $(this).attr("name") + "= \"" + $(this).val() + "\"";
        })

        //alert(elementosEntidad);
        
        if(elementosEntidad.length != 0){
          parametros = new Object();
          parametros.url = "/admin/guardarEntidad";
          parametros.type = "POST";
          parametros.dataType = "json";
      
          datos =  new Object();
          datos.entidad = entidad;
          var i = 0;
          for(i = 0; i < elementosEntidad.length; i++){
	    //alert("Evaluando: " + "datos." + elementosEntidad[i])		 
	    eval("datos." + elementosEntidad[i]);
          }

          parametros.data = datos;
	  parametros.success = notificacion

          $.ajax(parametros);
        }
      })
      })

      function notificacion(datos){
	alert("Ejecución realizada: " + datos[0]);
        $(".notificacion").html("Notificacion" + datos[0]);
			 
      }
    </script>
  </head>

      <html>
	<head>

	</head>
        <body>
	  <form action="infoLocal" method="post">
            <div>googleMapsKey: <input type="text" name="mapsKey" value="{{ googleMapsKey }}"/></div>
            <div>Page Title: <input type="text" name="title" value="{{ title }}"/></div>
            <div>Page Mailer: <input type="text" name="email" value="{{ mailer }}"/></div>
	    <div>Latitud Mapa: <input type="text" name="latitud" value="{{ latitudMapa }}"/></div>
	    <div>Longitud Mapa: <input type="text" name="longitud" value="{{ longitudMapa }}"/></div>
	    <div>Localidad Busqueda: <input type="text" name="localidad" value="{{ stringLocalidad }}"/></div>
	    <div id="miscelaneas">
	      {% if miscelanea %}
	      {% for valor in miscelanea %}
	      <div>Miscelanea{{ forloop.counter }}: <input id="miscelanea" type="text" name="miscelanea{{ forloop.counter }}" value="{{ valor }}"/></div>
	      {% endfor %}
	      {% else %}
	      <div>Miscelanea1: <input id="miscelanea" type="text" name="miscelanea1" value=""/></div>	    
	      {% endif %}
	    </div>
	    {% if miscelanea %}
	    <input type="hidden" name="numValoresMisc" id="numValoresMisc" value="{{ miscelanea|length }}"/>
	    {% else %}
	    <input type="hidden" name="numValoresMisc" id="numValoresMisc" value="1"/>
	    {% endif %}
	    
	    <input type="button" id="nuevaMiscelanea" value="+"/>


	    <div><input type="submit" value="Almacenar"></div>
	  </form>
	
	  <div class="notificacion"></div>
	  <div class="cache">
	    <input type="button" class="borrarCache" value="Borrado Caché"/>
	  </div>


	  <div class="datos">
	    {% for modelo in modelos %}
	    <div>
	      {{ modelo.0 }} <input type="button" name="{{ modelo.0 }}" class="eliminar" value="Eliminar" {% if not modelo.1 %} disabled="disabled" {% endif %}/><div class="{{ modelo.0 }}"></div>
	    </div>
	    {% endfor %}

	    <div class="adminDatos">
	    {% for modelo in modelos %}
	    <div class="modelo">
	      {{ modelo.0 }}<br/>
	      {% for propiedad in modelo.2 %}
	      <div class="bloque">
		<label for="{{ modelo.0 }}{{ propiedad }}">{{ propiedad }}</label>
		<input class="entrada" id="{{ modelo.0 }}{{ propiedad }}" name="{{ modelo.0 }}{{ propiedad }}" type="text" />
	      </div>
	      {% endfor %}

	      <input type="button" class="guardarEntidad" name="{{ modelo.0 }}" value="Guardar" />
	    </div>
	    {% endfor %}
	    </div>
	  </div>
	</body>
      </html>
