{% extends "base.html" %}		

{% block cuerpo %}		
		<!-- BEGIN cuerpo -->
		<div class="cuerpo">

		</div>
		<div class="grid_12{{ claseNotificacion }}">
		  {{ texto|safe }}
		</div>
		<div class="clear">
		</div>

		<!-- Fin cuerpo web -->
{% endblock %}		
