{% extends "base.html" %}		

{%block javascript%}
<script type="text/javascript" src="js/validacion.js"></script>

{{ block.super }}

<script type="text/javascript">
  $(document).ready(function() {
      $("form#registroUsuario").submit(function(e){
          var validacion = validarPassword("password","repeat", notificacionMensaje);

          if(validarPassword("password","repeat",notificacionMensaje) &&
             validarNombre("nombre", notificacionMensaje) &&
             validarEmail("email",notificacionMensaje)){
            return true;
          }
         else              
            e.preventDefault();
     
      })
  
  })
</script>
{%endblock javascript%}
{% block cuerpo %}		
		<!-- BEGIN cuerpo -->
		<div class="cuerpo">
		
		
			<!-- BEGIN formulario de registro -->
			<div class="grid_4">
				<h1>Regístrate <span>en {{ siteName }}</span></h1>
				<div class="inner-padding form-registro round">
					<form id="registroUsuario" action="/registroPost" method="post">
						<div class="bloque">
							<label for="nombre">Nombre</label>
							<input id="nombre" name="nombre" type="text" />
						</div>
						
						<div class="bloque">
							<label for="apellidos">Apellidos</label>
							<input id="apellidos" name="apellidos" type="text" />
						</div>
						
						<div class="bloque">
							<label for="email">Email</label>
							<input id="email" name="email" type="text" />
						</div>
						
						<div class="bloque">
							<label for="password">Contraseña</label>
							<input id="password" name="password" type="password" />
						</div>
						
						<div class="bloque">
							<label for="repeat">Repetir contraseña</label>
							<input id="repeat" name="repeat" type="password" />
						</div>
						
						<!--div class="bloque">
							<label for="usuario">Id. Usuario</label>
							<input id="usuario" name="usuario" type="text" />
						</div>
						
						<div class="bloque">
							<label for="referido">Id. Referido</label>
							<input id="referido" name="referido" type="text" />
						</div-->
						
						<div class="bloque">
							<input id="enviar" name="enviar" type="submit" value="Regístrame" />
						</div>
					</form>
					
					<small>* Registrándote en {{ siteName }} estás aceptando los <a href="#">términos y condiciones</a>.</small>
				</div>
			</div>
			<!-- END categorias -->
			
			
			<!-- BEGIN contenido -->
			<div class="grid_8">
				<h1>Ventajas de registrarte <span>en {{ siteName }}</span></h1>
				<div class="inner-padding form-ventajas round">
					<ul class="ventajas">
						<li>Permanece informado de las últimas novedades y ofertas.</li>
						<li>Colabora con nosotros y ayuda a mejorar a los comercios de tu zona.</li>
						<li>Beneficiate de nuestro sorteo mensual.</li>
						<li>Inscribe a tu empresa con nosotros.</li>
					</ul>
				</div>
			</div>
			<!-- Fin info-negocio -->
		</div>
		<div class="clear"></div>
		<!-- Fin cuerpo web -->
{% endblock %}		
