{% extends "base.html" %}	
	{% block javascript %}
        <script type="text/javascript" src="js/validacion.js"></script>
	<script type="text/javascript" src="js/localizacion.js"></script>
	<!--script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ key }}&sensor=false" type="text/javascript"></script-->
	<script src="http://maps.google.com/maps/api/js?v=3.8&key={{ key }}&sensor=false" type="text/javascript"></script>

	<script type="text/javascript">

	  if( !window.XMLHttpRequest ) XMLHttpRequest = function()
	  {
             try{ return new ActiveXObject("Msxml2.XMLHTTP.6.0") }catch(e){}
	     try{ return new ActiveXObject("Msxml2.XMLHTTP.3.0") }catch(e){}
	     try{ return new ActiveXObject("Msxml2.XMLHTTP") }catch(e){}
	     try{ return new ActiveXObject("Microsoft.XMLHTTP") }catch(e){}
	     throw new Error("Could not find an XMLHttpRequest alternative.")
	  };


	  function initialize() {
	      inicializarMapaRegistro({{ latitudCentral }}, {{ longitudCentral }}, "mapa", "#latitud", "#longitud");
	  }

	  function showAddress(){
	      showAddressRegistro("#direccion","{{ localidadBusqueda }}","#latitud","#longitud");
	  }

	  $(document).ready(function() {$('#localizar').click(showAddress)});


         $(document).ready(function() {
            $("form#registroNegocio").submit(function(e){

	        $("#h-informacion").val($("#informacion").val())
                
                if(validarTextoObligatorio("nombre","Nombre",notificacionMensaje) &&
                   validarTextoObligatorio("direccion", "Dirección",  notificacionMensaje) &&
                   validarTextoObligatorio("latitud", "Latitud",notificacionMensaje) && 
	           validarTextoObligatorio("longitud", "Longitud",notificacionMensaje)){
                  
                   return true;
                }
                else{              
	          e.preventDefault();
	          return false;
	       }
             })
  
          })

	</script>
	{% endblock %}
		
	{% block cuerpo %}
		<!-- BEGIN cuerpo -->
		<div class="cuerpo">
		
		
			<!-- BEGIN formulario de registro -->
			<div class="grid_4">
				<h1>Registra <span>tu negocio en {{ siteName }}</span></h1>
				<div class="inner-padding form-registro round">
					<form name="form_negocios" id="registroNegocio"  action="/negociosPost" method="post">
						<div class="bloque">
							<label for="nombre">Nombre</label>
							<input id="nombre" name="nombre" type="text" />
						</div>
						
						<div class="bloque">
							<label for="categoria">Categoría</label>
							<!--input id="categoria" name="categoria" type="text" /-->
							<select id="categoria" name="categoria">
							  {% for categoria in categorias %}
							  <option value="{{ categoria }}">{{ categoria }}</option>
							  {% endfor %}
							</select>
						</div>
						
						
						<div class="bloque">
							<label for="telefono">Teléfono</label>
							<input id="telefono" name="telefono" type="text" />
						</div>

						<div class="bloque">
							<label for="movil">Móvil</label>
							<input id="movil" name="movil" type="text" />
						</div>

						<div class="bloque">
							<label for="fax">Fax</label>
							<input id="fax" name="fax" type="text" />
						</div>

						
						<div class="bloque">
							<label for="web">Web</label>
							<input id="web" name="web" type="text" />
						</div>
						
						<div class="bloque">
							<label for="email">Email</label>
							<input id="email" name="email" type="text" />
						</div>


						<div class="bloque">
							<label for="direccion">Dirección</label>
							<input id="direccion" name="direccion" type="text" />
						</div>
						
						<div class="bloque">
							<input id="localizar" name="localizar" type="button" value="Localizar" />
						</div>
						
						<div class="bloque">
							<label for="latitud">Latitud</label>
							<input id="latitud" name="latitud" type="text" readonly="readonly" />
						</div>
						
						<div class="bloque">
							<label for="longitud">Longitud</label>
							<input id="longitud" name="longitud" type="text" readonly="readonly" />
						</div>
						
						<div class="bloque">
						        <input id="h-informacion" name="h-informacion" type="hidden"/>
							<input id="enviar" name="enviar" type="submit" value="Regístrame" />
						</div>
					</form>
					
					<small>* Registrándote en {{ siteName }} estás aceptando los <a href="#">términos y condiciones</a>.</small>
				</div>
			</div>
			<!-- END categorias -->
			
			
			<!-- BEGIN contenido -->
			<div class="grid_8">
				<!--<h1>Ventajas de registrarte <span>en {{ siteName }}</span></h1>-->
				<div id="mapa" alt="Mapa"></div>
		
				<div class="form-sugerencia">
				  <label for="informacion">Información de su negocio</label>
				  <textarea id="informacion" name="informacion" rows="20" cols="25"></textarea>
				</div>
			</div>
			<!-- Fin info-negocio -->
		</div>
		<div class="clear"></div>
		<!-- Fin cuerpo web -->
		{% endblock %}
		
