{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
  function initialize(){
  }
  function GUnload(){
  }
  function toggleImage(){
    var elemento = $('.oferta-imagenes'); 

    elemento.hide();
    if(elemento.hasClass('img1')){
      elemento.removeClass('img1');
      elemento.addClass('img2');
    }
    else if(elemento.hasClass('img2')){
           elemento.removeClass('img2');
           elemento.addClass('img3');
         }
         else if(elemento.hasClass('img3')){
                elemento.removeClass('img3');
                elemento.addClass('img1');
              }

    elemento.show();
  }

  $(function() {setInterval('toggleImage()',5000)});
</script>
{% endblock %}

{% block cuerpo %}
		
		<div class="grid_12">
			<h1>Servicios web ofrecidos</h1>
			<p></p>
			
			<div class="servicios">
			  <ul>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">Paquete Básico:</p>
				<p>Dominio propio + cuenta de correo. Ejemplo: www.tutienda.com e info@tutienda.com</p>
				<p class="oferta-precio">20€/año</p><p class="oferta-aclaracion">(no incluye hosting)</p>
				  
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">Paquete Sencillo:</p>
				<p>Paquete Básico + página web simple (basada en plantilla)</p>
				<p class="oferta-precio">150€ creación y 1er año, después 60€/año</p><p class="oferta-aclaracion">(coste de hosting)</p>
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">Paquete Avanzado:</p>
				<p>Paquete Sencillo + página web a medida</p>
				<p class="oferta-precio">Consultar precio de creación y 60€/año</p><p class="oferta-aclaracion">(coste de hosting)</p>
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">Paquete Completo:</p>
				<p>Paquete Avanzado + programación a medida</p>
				<p class="oferta-precio">Consultar precio de creación y hosting anual</p><p class="oferta-aclaracion"></p>
			      </div>
			    </li>
			    <li>
			      <div class="oferta">
				<p class="oferta-nombre">Mantenimiento de páginas web:</p>
				<p></p>
				<p class="oferta-precio">Desde 20€/mes</p><p class="oferta-aclaracion">(según requerimientos de la página)</p>
			      </div>
			    </li>
			  </ul>

			  <div class="oferta-imagenes img1">
			  </div>

			    

			</div>
		</div>
		<!-- Fin cuerpo web -->
{% endblock %}
		
