{% extends "base.html" %}

{% block cuerpo %}
		
		<div class="grid_12">
			<h1>Consulta los comercios de tu zona en {{ siteName }}</h1>
			<p>El objetivo de {{ siteName }} es la comunicación entre negocios y empresas de {{ placename }} y sus usuarios para así poder crear nuevas oportunidades de negocio y ayudar a mejorar la calidad de los servicios que se prestan.</p><p>Si estás al cargo de un negocio, puedes registrarlo en nuestra web <a href="/negocios">aquí</a>, si quieres ver nuestos servicios pincha <a href="/servicios">aquí</a>.</p>
			
			<div class="presentacion">
				<div class="registrate"><a href="/registro"><strong>Regístrate.</strong></a> <p>Benefíciate de las ventajas de estar registrado.</p></div>
				<div class="comunicate"><a href="/principal"><strong>Comunícate.</strong></a> <p>Contacta con los negocios de tu zona, ofrece tus sugerencias y ayúdales a mejorar su servicio.</p></div>
				<div class="aprovecha"><strong>Aprovecha.</strong><p>Únete a las iniciativas que más te interesen y plantea las tuyas para que otros las aprovechen.</p></div>
				<div class="comparte"><strong>Comparte.</strong><p>Cuanta más gente esté involucrada, más posibilidades tendremos de mejorar nuestra comunidad.</p></div>
				<div class="explora"><a href="/principal"><strong>Explora.</strong></a><p>Busca los comercios que te interesen cerca de tu zona.</p></div>
			</div>
		</div>
		<!-- Fin cuerpo web -->
{% endblock %}
		
